{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>Info für {{ name }}</h1>

    {% for day in days %}
        <h2>{{ day["date"] }}</h2>

        {% for line in day["text"] %}
            <p>{{ line }}</p>
        {% endfor%}

        <table class="table">
        <thead>
            <tr>
                <th>Stunde</th>
                <th>Fach</th>
                <th>Raum</th>
                <th>Lehrer</th>
            </tr>
        </thead>
        <tbody>
            {% for line in day["groups_intel"] %}
            <tr>
                <th>{{ line["period"] }}</th>
                <th>{{ line["subject"] }}</th>
                <th>{{ line["room"] }}</th>
                <th>{{ line["teacher"] }}</th>
            </tr>
            {% endfor%}
        </tbody>
        </table>

        {% for line in day["groups_intel_raw"] %}
            <p>{{ line }}</p>
        {% endfor%}

    {% endfor%}

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
    </script>
{% endblock %}}